# Completion:
#   HeaderInsertion: Never
#
# CompileFlags:
#   Add:
#     - -D__GNUC__
#     - --target=arm-none-eabi
#     - -I./Drivers/CMSIS/Include
#     - --target=arm-none-eabi
#     - -mcpu=Cortex-M3
#     - -ID:/Keil_v5/ARM/ARMCC/include
#     - -I${workspaceFolder}/CMSIS
#     - -I${workspaceFolder}/Hardware
#     - -I${workspaceFolder}/Library
#     - -I${workspaceFolder}/User
#     - -DUSE_STDPERIPH_DRIVER
#     - -DSTM32F10X_HD
#     - -xc
#     - -Wall
#
# # CompletionStyle: Detailed
# # HeaderInsertion: Never

CompileFlags:
  # 1. 移除 compile_commands.json 中干扰 clangd 的参数
  Remove:
    - -D__CC_ARM
    - -mcpu=Cortex-M4
    # - -ID:/Keil_v5/ARM/ARMCC/inclwude

  # 2. 添加让 clangd 能够正常工作的参数
  Add:
    - "-D__GNUC__" # 强制开启 GCC 兼容分支
    - "--target=arm-none-eabi" # 模拟交叉编译目标
    - "-xc" # 强制以 C 语言解析
    - "-std=c99"
    - "-fdeclspec"
    - "-D__forceinline=inline"
    # 使用相对路径包含，假设你的 .clangd 在项目根目录
    - "-ICMSIS"
    - "-IHardware"
    - "-ILibrary"
    - "-IUser"
    - "-ILVGL"
    - "-ILibs/cJSON"
    # 根据你的 compile_commands.json 修正芯片定义（这里以 F411 为例）
    - "-DSTM32F411xE"
    - "-DUSE_STDPERIPH_DRIVER"
    # 指向通用的 CMSIS 接口，而不是 Keil 内部的私有接口
    - "-ID:/Keil_v5/ARM/PACK/ARM/CMSIS/5.2.0/CMSIS/Include"

Completion:
  HeaderInsertion: Never
